<div class="main-container">
  <img alt="spiritwell" class="spiritwell-header">
  <h1 class="text text--large">BLOG</h1>
  <p class="text">Coming soon...</p>
  <p class="text">For now, feel free to follow me on <a href="https://twitter.com/daviddchen" target="_blank" rel="noopener noreferrer" class="text text--link">Twitter</a>!</p>
  <img alt="kappy-following-gif" class="follow-gif">
</div>
