<div class="main-container">
  <img alt="spiritwell" class="spiritwell-header">
  <h1 class="text text--large">CONTACT</h1>
  <img alt="frog-mail-gif" class="frog-mail-gif">
  <!-- <img alt="frog-mail-gif" class="frog-mail-gif frog-mail-gif--cover"> -->
  <p class="text">Make sure to read the <%= link_to "FAQ", faq_path, class: "text text--link"%> before sending any enquiries!</p>
  <p class="text">Your questions are likely to have already been answered there.</p>
  <p class="text">Otherwise… please send any enquiries to:</p>
  <p class="text text--email">spiritwellgame@gmail.com</p>
  <p class="text">… or feel free to reach out to me on <a href="https://twitter.com/daviddchen" target="_blank" rel="noopener noreferrer" class="text text--link">Twitter</a>. My DMs are open.</p>
  <p class="text text--margin-bottom">I’ll get back to you as soon as I can!</p>
</div>
