<div class="main-container">
  <img alt="spiritwell" class="spiritwell-header">
  <h1 class="text text--large">FAQ</h1>
  <p class="text text--small">(furiously asked questions)</p>
  <p class="text text--left-align text--underline">~ GENERAL ~</p>
  <p class="text text--left-align">Q: What’s a SPIRITWELL?</p>
  <p class="text text--left-align">A: Woah, straight to the fundamental question, aye? Why don’t you find out for yourself… by playing the DEMO. (Huh, what do you mean there’s no DEMO?) For real, though, check back soon™!</p>
  <br>
  <p class="text text--left-align">Q: Who’s making SPIRITWELL?</p>
  <p class="text text--left-align">A: It’s-a me, David! Find me on <a href="https://twitter.com/daviddchen" target="_blank" rel="noopener noreferrer" class="text text--link">Twitter</a>! (and asleep, anywhere)</p>
  <br>
  <p class="text text--left-align">Q: What’s under Kappy’s…</p>
  <p class="text text--left-align">A: Hey, mate, that’s a little too far.</p>
  <br>
  <p class="text text--left-align">Q: NICE.</p>
  <p class="text text--left-align">A: Thanks!</p>
  <br>
  <p class="text text--left-align text--underline">~ MAKING SPIRITWELL ~</p>
  <p class="text text--left-align">Q: What tools do you use to make the game?</p>
  <p class="text text--left-align">A: I use Game Maker Studio 2 for the game, FL Studio for the music, and Aseprite and MSPaint for the graphics. I also use food for the human.</p>
  <br>
  <p class="text text--left-align">Q: Can I help?</p>
  <p class="text text--left-align">A: Please send me your energy so I can make a giant SPIRITBOM-, uh, SPIRITWELL!</p>
  <br>
  <p class="text text--left-align text--underline">~ MISCELLANEOUS ~</p>
  <p class="text text--left-align">Q: How long are Butters’ legs?</p>
  <p class="text text--left-align">A: </p>
  <img alt="butter-long-legs" class="butter-long-legs">
  <p class="text">(To be honest, even I don’t know.</p>
  <p class="text">They could actually be longer…</p>
  <p class="text">its true power is shrouded in darkness.)</p>
</div>
