<div class="main-container">
  <img alt="spiritwell" class="spiritwell-header">
  <p class="text">SPIRITWELL is an RPG about a lost child who falls down a well into a world of spirits…</p>
  <p class="text">Now, he must find his way home…</p>
  <p class="text">Journey through the Spiritwell.</p>
  <p class="text">Make friends. Make enemies.</p>
  <p class="text">… but try not to lose your way…</p>
  <br>
  <p class="text">( SPIRITWELL is currently in development for PC. Thanks for stopping by so early! )</p>
  <p class="text">(( Demo coming Q2 2020! ))</p>
  <div class="main-container__home-screens">
    <img alt="spiritwell-screenshot-0" class="main-container__home-screen main-container__home-screen--0">
    <img alt="spiritwell-screenshot-1" class="main-container__home-screen main-container__home-screen--1">
  </div>
  <p class="text">Story-rich and character driven experience, filled with personality.</p>
  <div class="main-container__home-screens">
    <img alt="spiritwell-screenshot-2" class="main-container__home-screen main-container__home-screen--2">
    <img alt="spiritwell-screenshot-3" class="main-container__home-screen main-container__home-screen--3">
  </div>
  <p class="text">SPIRITWELL is an RPG about the little things.</p>
  <p class="text">The absurd, the joyful, the heartrending, the frivolous…</p>
  <br>
  <p class="text">The forgotten moments we shared.</p>
  <br>
  <img alt="kappy-wave" class="kappy-wave">
  <p class="text text--small">* Thanks for stopping by!</p>
  <div class="home-blank"></div>
  <p class="text text--small">You've gone too far, go back!</p>
  <img alt="kappy-fall" class="kappy-fall">
</div>
