.navbar {
  background-color: black;

  .navbar-collapse {
    width: 900px;
    flex: 0 1 auto;

    .navbar-nav {
      &:first-of-type {
        flex: 0 1 400px;
      }

      &:not(first-of-type) {
        flex: 0 1 80px;
      }

      .nav-item .nav-link {
        color: $gray;
        font-size: 20px;
        text-align: center;

        &:hover {
          color: white;
        }
      }

      .nav-item.active .nav-link {
        color: white;
      }
    }
  }
}


@media (min-width: 0px) {
  .navbar {
    height: 66px;
    justify-content: space-around;

    .navbar-collapse {
      justify-content: space-around;

      .navbar-nav {
        justify-content: space-between;
      }
    }
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
