.text {
  font-size: 12px;
  margin: 8px 0;
  text-align: center;

  &--small {
    font-size: 10px;
    color: $gray;
  }

  &--large {
    font-size: 64px;
  }

  &--email {
    font-size: 24px;
    margin: 16px 0;
  }

  &--margin-bottom {
    margin-bottom: 36px;
  }

  &--left-align {
    margin-left: 8px;
    margin-right: auto;
    text-align: left;
  }

  &--underline {
    border-bottom: 1px solid black;
  }

  &--link {
    color: $blue;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $gray;
    }
  }
}
