.text {
  font-size: 12px;
  margin: 8px 0;
  text-align: center;

  &--small {
    font-size: 10px;
    color: $gray;
  }

  &--large {
    font-size: 64px;
  }

  &--link {
    color: $blue;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $gray;
    }
  }
}
